{% extends "base.html" %}
{% import "components/form_macros.html" as macros %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-white">
                <h4 class="mb-0">Lançar Chamada</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.csrf_token }}
                    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {{ macros.render_field(form.school_class_id) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.render_field(form.subject_id) }}
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        <div class="col-md-6">
                            {{ macros.render_field(form.date) }}
                        </div>
                        <div class="col-md-6">
                            {{ macros.render_field(form.period) }}
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-end gap-2">
                        <a href="{{ url_for('main.dashboard') }}" class="btn btn-outline-secondary">Cancelar</a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
